@font-face {
  font-family: "iconfont"; /* Project id 3531851 */
  src: url('iconfont.woff2?t=1659316094185') format('woff2'),
       url('iconfont.woff?t=1659316094185') format('woff'),
       url('iconfont.ttf?t=1659316094185') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinxi:before {
  content: "\e649";
}

.icon-vip:before {
  content: "\e65e";
}

.icon-ico_dengchu:before {
  content: "\e60e";
}

.icon-github:before {
  content: "\e64c";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-paihang:before {
  content: "\e672";
}

.icon-shoucang:before {
  content: "\e659";
}

.icon-shoucang1:before {
  content: "\e602";
}

.icon-yinle1:before {
  content: "\e610";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-icon:before {
  content: "\e651";
}

.icon-shouye:before {
  content: "\e640";
}

.icon-changge:before {
  content: "\e895";
}

.icon-bofangMV:before {
  content: "\e6a3";
}

